body {
    background-image: url("https://images.freeimages.com/images/large-previews/084/sitting-room-1257556.jpg?fmt=webp&w=500");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Stylish", serif;
}

h1 {
    color:rgb(179, 43, 9);
    font-size: 6vw;
    text-align:center;
    margin-top: 3vw;
    margin-bottom:5vw;
}

div {
    color:rgb(179, 43, 9);
    text-align: center;
    font-size:2vw;
    font-weight: 900;
}

input {
    display: block;
    margin:auto;
    margin-top:3vw;
    width:17vw;
    height:2vw;
    border-radius: 10vw;
    background-color:floralwhite;
    font-family: "Stylish", serif;
    font-size:1.4vw;
    padding-left: 1.5vw;
    padding-right:1.5vw;
}

button {
    display: block;
    margin:auto;
    margin-top: 1vw;
    width:7vw;
    height:2.5vw;
    background-color:black;
    color:floralwhite;    
    border-radius:2vw;
    font-family: "Stylish", serif;
    font-size:2vw;
}

button:active{
    width:7.5vw;
    height:2.7vw;
    background-color: crimson;
}

button:disabled{
    background-color:rgb(108, 108, 108);
    color:rgb(213, 213, 213);
    width:7vw;
    height:2.5vw;
}

img {
    width: 20vw;
    margin-left: 58vw;
    margin-top: -15vw;
}

h2 {
    font-size : 2vw;
    color:antiquewhite;
    text-align: center;
    margin-top:2.5vw;
}

@media screen and (max-width: 768px){
    background{
        background-image: 100vw;
        background-size:100vw;
        height:100vw;
    }
    h1{
        font-size:10vw;
    }
    h2{
        font-size:4vw;
    }
    img{
        width:30vw;
    }
    button{
        width:12vw;
        height:4vw;
        font-size:3vw
    }
    input{
        width:30vw;
        height:3vw;
    }
   div{
    font-size:4vw;
   }
}
